body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.news{
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: antiquewhite;
}
.artical .noneItem {
  display: none;
}
.artical{
  border: 1px solid orange;
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px;
}
.artical>span,
.artical p{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 100%;
  display: flex;
  text-align: -webkit-auto;
}
.artical .city-name{
  color: orangered;
  display: inline;
  border-bottom: 1px solid orangered;
}
.artical a{
  text-align: -webkit-auto;
  display: flex;
}

.artical .description{
  display: none;
}
.wrapper-form h1{
  margin: 0 0 20px;
}
.wrapper-form{
    padding: 20px;
    flex-direction: column;
    border: 1px solid green;
    display: -ms-flexbox;
    display: inline-flex;
    width: 300px;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 90px;
}
.wrapper-form form input,
.wrapper-form form textarea,
.wrapper-form form label{
  
  display: inline-flex;
  margin-bottom: 15px;
}
.wrapper-form form input,
.wrapper-form form textarea{
  padding:5px 0 5px 15px;
  box-sizing: border-box;
}
.wrapper-form form textarea{
  min-height: 150px;
  width: 258px;
}
form button{
  width: 258px;
  background-color: green;
  height: 60px;
  border:none;
  color:white;
  font-size: 22px;
  line-height: 22px;
}
.wrapper-form .noneItem{
  display: none;
}
/*styles for Sign-In*/
.wrapper-sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-sizing: border-box;
}
.wrapper-sign-in h1{
  margin: 0;
  color:rgb(0,181,209);
}
.wrapper-sign-in h1~span{
  margin: 15px 0;
  font-size: 13px;
}
.wrapper-sign-in .sign-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
}
.wrapper-sign-in .sign-in-form input{
  width: 100%;
  height: 38px;
  border:1px solid rgb(0,181,209);
  border-radius: 5px;
  font-size: 13px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.wrapper-sign-in .sign-in-form input[type='checkbox']{
  height: 15px;
  width: 15px;
  line-height: 38px;
  margin: 0;
}
.wrapper-sign-in .sign-in-form button{
  width: 100%;
  color:white;
  background-color: rgb(0,181,209);
  border-radius: 5px;
  height: 40px;
}
.wrapper-sign-in .sign-in-form .container-agreement{
  display: flex;
  height: 38px;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.wrapper-sign-in .sign-in-form .error{
  margin: 0;
  color: red;
  display: none;
}
